*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    font-size: 62.5%;
    --brand-colors-explorer-dark: hsl(195, 91%, 25%);
    --platform-aliases-shape-principal: hsl(240, 6%, 13%);
    --platform-aliases-background: hsl(240, 5%, 7%);
    --search-input: hsla(0, 0%, 100%, 0.2);
    --color-white: hsl(0, 0%, 100%);
    --footer-bg-color: hsl(195, 46%, 40%);

}


body{
    font-size: 1.6rem;
}

#app{
    display: flex;
    flex-direction: column;
    min-width: 43rem;


    margin: 0 auto;

    overflow: hidden;

}

html, body, input{
    font-family: 'Mulish', sans-serif;
    color: var(--platform-aliases-shape-principal);
} 



header{
    display: flex;
    background-color: var(--brand-colors-explorer-dark);

    align-items: center;

    padding: 1.2rem 2.8rem;

    gap: 2.5rem;
}

.logo{
    width: 4rem;
    height: 4rem;
}
form{
    flex: 1;
}

form label{
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

form input{
    width: 100%;
    border: none;
    background-color: var(--search-input);
    padding: 1.2rem 1.4rem;

    border-radius: .4rem;

    color: var(--color-white);
    font-size: 1.6rem;;

}

form input::placeholder{
    color: var(--color-white);
    font-size: 1.6rem;
}

.avatar{
    width: 4.2rem;
    height: 4.2rem;

    border-radius: 50%;
}
.ilustration{
    display: flex;
}

.ilustration img{
    width: 100%;
    max-height: 40.5rem;
}

.ilustration img:hover{
    filter: brightness(1.5);
}

h1{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 160%;
    margin-top: 3.1rem;
    margin-left: 2.2rem; 
}


.actions{
    display: flex;
    flex-direction: row;
    margin-top: .8rem;
    margin-left: 2.2rem;
    gap: 1.2rem;
    align-items: center;
}

button{
    display: flex;
    background-color: var(--brand-colors-explorer-dark);
    border-radius: 50%;
    padding: 1.2rem;
    border: none;
    align-content: center;

}


button:hover>img{
    transform: scale(1.5) rotate(0.5turn);
}

.article p{
    margin: 3.1rem 2.6rem 3.4rem 2.2rem;
    font-size: 1.6rem;
    line-height: 160%;

    color: var(--platform-aliases-background);
}

.related-articles{
    display: flex;
    flex-direction: column;

    gap: 3.2rem;

    margin: 3.4rem 2.4rem 3.9rem 2.2rem;
}

.card {
    display: flex;
    gap: 1.6rem;

    align-items: center;
}

.card img{
    width: 15.1rem;
    height: 8.4rem;

    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card img:hover{
    transform: scale(1.1);
    filter: hue-rotate(7deg) contrast(101%) saturate(200%);

}

.related-content {
    display: flex;
    flex-direction: column;

    gap: .9rem;

}

h2{
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 100%;
}


.related-content p{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 160%;
}

footer{
    display: flex;
    background-color: var(--footer-bg-color);

    align-items: center;

    padding: 1.6rem;

    justify-content: center;
}

footer p{
    color: var(--color-white);

    font-size: 1.6rem;
    font-weight: 600;
}


@media (min-width: 803px){
#app{
    display: grid;

    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";

    width: 100vw;
    height: 100vh;

    grid-template-rows: max-content 1fr max-content;

    grid-template-columns: .56fr 0.44fr;
    
}

header{
    grid-area: header;
    padding: 1.2rem 11.2rem;
}

    
main{     
    grid-area: main;
       
    overflow-y: scroll;  
}

.article {
       
    margin: 3.2rem 0 0 11.2rem;
        
    line-height: 160%; 
    color: var(--platform-aliases-background);
    
}


.tittle-with-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 3.2rem 0;

}

.article p{
    margin: 0;
}

.article h1{
    margin: 0;
}

aside{
    grid-area: aside;
}

.related-articles{
    margin-top: 0;
}

footer{

    margin-top: 3.9rem;
    grid-area: footer;
}

}

header{
    --startY: -100%;
    animation: moveY 1s;
    animation-direction: reverse;
}

footer {
    --startY: 100%;
    animation: moveY 1s;
    animation-direction: reverse;
}


@keyframes moveY{
    100%{
        transform: translateY(var(--startY));
    }
}


.card{
    --startX: 100%;
    --delay: .3s;
    animation: moveX 1s;
    animation-direction: reverse;

    animation-delay: var(--delay);

}
@keyframes moveX{
        100%{
            transform: translateX(var(--startX));
        }
}

.related-articles h1{
    animation: apear 3s;

}

@keyframes apear{
    0%{
        opacity: 0;
    }
    100%{ 
        opacity: 1;
    }
}