*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    font-size: 62.5%;
    --brand-colors-explorer-dark: hsl(195, 91%, 25%);
    --platform-aliases-shape-principal: hsl(240, 6%, 13%);
    --platform-aliases-background: hsl(240, 5%, 7%);
    --search-input: hsla(0, 0%, 100%, 0.2);
    --color-white: hsl(0, 0%, 100%);
    --footer-bg-color: hsl(195, 46%, 40%);

}


body{
    font-size: 1.6rem;
}

#app{
    display: flex;
    flex-direction: column;
    min-width: 43rem;

    max-width: 43rem;

    margin: 0 auto;

    overflow: hidden;

}

html, body, input{
    font-family: 'Mulish', sans-serif;
    color: var(--platform-aliases-shape-principal);
} 



header{
    display: flex;
    background-color: var(--brand-colors-explorer-dark);

    align-items: center;

    padding: 1.2rem 2.8rem;

    gap: 2.5rem;
}

.logo{
    width: 4rem;
    height: 4rem;
}
form{
    flex: 1;
}

form label{
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

form input{
    width: 100%;
    border: none;
    background-color: var(--search-input);
    padding: 1.2rem 1.4rem;

    border-radius: .4rem;

}

form input::placeholder{
    color: var(--color-white);
    font-size: 1.6rem;
}

.avatar{
    width: 4.2rem;
    height: 4.2rem;

    border-radius: 50%;
}
.ilustration{
    display: flex;
}

h1{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 160%;
    margin-top: 3.1rem;
    margin-left: 2.2rem; 
}


.actions{
    display: flex;
    flex-direction: row;
    margin-top: .8rem;
    margin-left: 2.2rem;
    gap: 1.2rem;
    align-items: center;
}

.actions button{
    display: flex;
    background-color: var(--brand-colors-explorer-dark);
    border-radius: 50%;
    padding: 1.2rem;
    border: none;
    align-content: center;
}

.article p{
    margin: 3.1rem 2.6rem 3.4rem 2.2rem;
    font-size: 1.6rem;
    line-height: 160%;

    color: var(--platform-aliases-background);
}

.related-articles{
    display: flex;
    flex-direction: column;

    gap: 3.2rem;

    margin: 3.4rem 2.4rem 3.9rem 2.2rem;
}

.card {
    display: flex;
    gap: 1.6rem;

    align-items: center;
}

.related-content {
    display: flex;
    flex-direction: column;

    gap: .9rem;

}

h2{
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 100%;
}


.related-content p{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 160%;
}

footer{
    display: flex;
    background-color: var(--footer-bg-color);

    align-items: center;

    padding: 1.6rem;

    justify-content: center;


}

footer p{
    color: var(--color-white);

    font-size: 1.6rem;
    font-weight: 600;
}

/*
@media (min-width: 770px){
#app{
    display: grid;

    grid-template-areas: "A A A"
    "B B C"
    "D D D";

    

    height: 100vh;    
}

header{
    grid-area: A;
    display: flex;
    background-color: var(--explorer-dark);
}

}*/